---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -2
NamespaceIndentation: None
IndentCaseLabels: false

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

ColumnLimit: 0
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: false
IncludeBlocks: Preserve

AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros: Consecutive
AlignOperands: Align

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: BinPack

ReflowComments: false
OneLineFormatOffRegex: '^(const|auto|double|bool|int|std|data|m_.*|g_.*|has.*|frame|state|snapshot|card|rect|dock.*|content.*|PLUGIN.*|DISPATCHER.*|monitor.*|workspace.*|window.*|stableId|workspaceId|monitorId|active|empty|focused|name|className|geometry|position|size|width|height|x|y|panel|input|resultsY|rowHeight|rowGap|capacity|scale|transform|visible|special|title|mapped|floating|fullscreen|pinned|passEvent|success|error|Clock|void|HANDLE|RadiantConfig|InputController|StateCollector|OverlayRenderer|OverviewTargetType|FadeAnimation|CHyprSignalListener|RadiantState|WorkspaceWallLayout|HitTester|SearchMatcher|OverviewTarget|LayoutRect)$'
