---
Language: Cpp
BasedOnStyle: LLVM
DisableFormat: true
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -2
NamespaceIndentation: None

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

ColumnLimit: 0
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: false
IncludeBlocks: Preserve

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignOperands: Align

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never

ReflowComments: false
...
